<h2>Welcome to <%= @repository.name.humanize %> repository</h2>

<h3>Branches</h3>

<ul>
  <% @repository.heads.each do |head| -%>
    <li><%= link_to head.name, repository_commits_path(@repository, :reference => head) %></li>
  <% end -%>
</ul>


